.header-main{
    /* position: fixed;
    z-index: 1;
    width: 100%;
    vertical-align: center; */
    background:#ff7730 ;
   
}
.logo-main{
    width: 9%;
    float: left;
}
.menu-main{
    width: 100%;
    float: left;
    background:  #ff7730!important;
   font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    color: #fff !important;
}
.search-main{
    width: 75%;
    margin-top: 20px;
    
}
.ant-dropdown-link{
    color: #fff;
}